name: develop

on:
  workflow_run:
    workflows: ['run-tests']
    branches: [develop]
    types:
      - completed

env:
  DOCKER_REGISTRY_URL: https://docker.pkg.github.com
  DOCKER_REGISTRY_PATH: docker.pkg.github.com/digio-ch/pbs-healthcheck-core/healthcheck-core

jobs:
  build-dev:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - name: Login to github docker packages registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login -u ${{ github.actor }} $DOCKER_REGISTRY_URL --password-stdin
      - name: Build and tag develop image
        run: docker build -f docker/Dockerfile -t $DOCKER_REGISTRY_PATH:develop .
      - name: Push image to registry
        run: docker push $DOCKER_REGISTRY_PATH:develop

  dispatch_deploy:
    needs: [build-dev]
    runs-on: ubuntu-24.04
    steps:
      - name: Trigger Deployment
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT_HC_DISPATCH }}
          repository: digio-ch/pbs-healthcheck-config
          event-type: deploy
          client-payload: '{"ref": "${{ github.ref }}", "app_env": "dev", "target_server": "develop"}'
